.car-icon {
  width: 20%;
  transform: scale(-1, 1);
  cursor: pointer;
  margin: 1rem;
  filter: invert(65%) sepia(75%) saturate(4633%) hue-rotate(159deg)
    brightness(52%) contrast(71%);
}

.car-icon.selected {
  cursor: default;
  filter: invert(49%) sepia(75%) saturate(3921%) hue-rotate(132deg)
    brightness(95%) contrast(97%);
}
